* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0% 20%;
  background-color: #fafafa;

  max-width: 1400px;
  position: relative;
  margin: auto;
  justify-content: center;
  align-content: center;
}

body::-webkit-scrollbar {
  width: 8px; /* Reduced width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #fafafa; /* color of the tracking area */
  border-radius: 8px; /* consistent roundness */
}

body::-webkit-scrollbar-thumb {
  background-color: #0f010169; /* color of the scroll thumb */
  border-radius: 8px; /* consistent roundness */
  border: 2px solid #fafafa; /* reduced padding around scroll thumb with the color of the track for contrast */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #332c2c; /* slightly lighter shade when hovered */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h4 {
  font-size: 1rem;
  color: rgb(56, 56, 56);
}
h3 {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a {
  color: rgb(56, 56, 56);
}
